.env
backend/.env
frontend/.env

frontend/node_modules
backend/node_modules

frontend/package-lock.json
backend/package-lock.json

frontend/yarn.lock
backend/yarn.lock


node_modules

.DS_STORE

frontend/build