.card-flip {
    perspective: 1000px;
}

.card-flip:hover .flip, .card-flip.hover .flip {
    transform: rotateY(180deg);
}

.card-flip, .front, .back {
    width:250px;
    height: 380px;
}

.flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-text {
    padding: 10px;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    border: 2px solid black;
    transform: rotateY(180deg);
    border-radius: 20px;
}

.card-flip img {
    height: 100%;
    width: 100%;
    display: block;
}