.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-flip {
    perspective: 1000px;
}

.card-flip:hover .flip, .card-flip.hover .flip {
    transform: rotateY(180deg);
}

.card-flip, .front, .back {
    width:250px;
    height: 380px;
}

.flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-block {
    max-height: 150px;
    padding: 25px 20px 0px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-subtitle, .card-title {
    padding: 0;
    margin: 0;
    text-align: center;
}

.card a {
    position: absolute;
    text-decoration: none;
    color: black;
    bottom: 10%;
    left: 30%;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    border: 2px solid black;
    transform: rotateY(180deg);
    border-radius: 20px;
    background-color: white;
}

.card-flip img {
    height: 100%;
    width: 100%;
    display: block;
}

.highlight {
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 5;
    transform-origin: left;
    color: black;
}

.highlight > *{
    transition: 0.6s all ease;
}

.highlight Link:hover {
    text-decoration: none;
}

.highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    z-index: -60;
    width: 110%;
    height: 0%;
    transition: all 0.6s ease;
    overflow: hidden;
}

.highlight:hover > p {
    color: white !important;
    z-index: 5;
    text-decoration: none;
}

.highlight:hover::before {
    height: 50%;
    overflow: hidden;
    z-index: -50;
}