*{
  background-color: none;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
  height: 25vh;
  width: auto;
  padding-left: 2%;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar li{
  list-style: none;
  font-family: 'Raleway', sans-serif;
  padding-right: 2%;
}
.navbar li:hover{
  font-style: italic;
}
.noto{
  font-family: 'Noto Sans JP', sans-serif;
}
.notothin{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}
.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}
.ubuntulight{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.logobox{
  display: flex;
  align-items: center;
}
.homecontent{
  display: flex;
background-color: #6d95c4;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
  align-items: center;
}
.txtspan{
  width:45%;
}
.submit {
  font-family: 'Raleway', sans-serif;
    border: none;
    outline: none;
    height: 5vh;
    background: #1c8adb;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 3%;
}
.submit:hover{
  background: green;
  cursor: pointer;

}