.logo{
  height: 10vh;
  width: auto;
  padding-left: 2%;
}
  
.logobox{
  float:left;
}

.links {
  font-family: 'Raleway', sans-serif;
  color: black;
  padding: 0 10%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}

nav .links {
  padding: 0 5%;
}

#cards {
  padding: -40% 0 ;
  margin: -40% 0 ;
  flex-direction: row;
  border: none;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
}

#card {
  height: 25%!important;
  padding: 5% 0 7% 0;
  width: 28%!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 1s all ease-in-out;
  color: white;
  background-color: black;
}

#location {
  margin: 0 0 10px 0;
  padding: 0 0 0 5px;
  border: black 1px solid;
  height: 25px;
  background-color: white;
  color: black;
  font-size: 14px;
}

#input {
  width: 100vw;
  margin-top:-80px;
  height: 850px;
}

input {
  border-radius: 10px;
  border: black 1px solid;
  width: 200px!important;
}

#location::placeholder {
  margin: -10px 0;
  padding: 0 0 0 5px;
  color: black;
  font-size: 14px;
}

#card:hover{
  color: black;
  background-color: white;
}

#card h4 {
  margin: 0px 0 0 0;
  padding: 0;
  font-size: 18px;
}

#card p {
  font-size: 14px;
  text-align: center;
  color: black;
}

#card img {
  padding-top: 25%;
  height: 30%;
}

.noto{
  font-family: 'Noto Sans JP', sans-serif;
}

.notothin{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

.ubuntulight{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.logobox{
  display: flex;
  align-items: center;
}

/* .homecontent{
  display: flex;
  background-image: url("./marble.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
  align-items: center;
} */
/* 
.txtspan{
  width: 45%;
} */

/* .submit {
font-family: 'Raleway', sans-serif;
  border: none;
  outline: none;
  height: 5vh;
  background: #1c8adb;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 3%;
} */

.submit{
  background-color: white;
  border-radius: 5px ;
  border: white;
  align-self: center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit:hover{
  background: #b3b7bd;
  cursor: pointer;
}

.focus:hover {
  transform: scale(1.1);
}

.ani {
  position: relative;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 5;
}

.ani > a{
  transition: 0.6s all ease;
}

.ani::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #697be0;
  z-index: -60;
  width: 100%;
  height: 0%;
  transition: all 0.6s ease;
  overflow: hidden;
}

.friends > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li > button {
  height: 20px;
  width: 20px;
  margin: 20px;
}

.ani:hover {
  color: white !important;
  z-index: 5;
  text-decoration: none;
}

.ani:hover::before {
  height: 100%;
  overflow: hidden;
  z-index: -50;
}

.middle {
  display: inline-grid;
  position: relative;
  width: 10vw;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.middle:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  right: 35px;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.middle:hover:after {
  transform: scaleX(0.45);
  transform-origin: bottom center;
}